.ch-grid {
	margin-top: 380px;
	margin-left:550px;
	
	padding: 0;
	list-style: none;
	display: block;
	width: 50%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
	
}

.ch-grid li {
	width: 180px;
	height: 180px;
	display: inline-block;
}

/************************/
.ch-grid1 {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid1:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid1:after {
	clear: both;
	
}

.ch-grid1 li {
	width: 100px;
	height: 100px;
	display: block;
}



/*******************680**************************/

@media only screen and (max-width:640px){
	
.ch-grid {
	margin-top: 0px;
	margin-left:0px;
	
	padding: 0;
	list-style: inside;
	display: block;
	width: 50%;
}
	
	
