body{
	padding: 0px;
	margin: 0%;
	height: 100%;
	width:100%;
	font-family: Bebas Neue;
	margin-top: 0px;
	position: relative;
		background-image: url(/site3.2/imagens/traco.png);
		background-repeat: repeat;
		    background-color:rgba(0,0,0, 0.5);
		
}
.container-fluid {
	height: auto;
	width:auto;
    background-color:rgba(0,0,0, 0.5);
	margin-top: 0px;
	position: relative;
		background-image: url(/site3.2/imagens/traco.png);
		background-repeat: repeat;

}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
.container .row{
	
	background-color: #fff;
}
.clear {
	clear: both;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

ul {
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

audio, canvas, img, video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

@font-face {
	font-family: 'big-noodle-oblique';
	src: url('/site3.2/css/font/big_noodle_titling_oblique.ttf')
		format('truetype'), url('/site3.0/css/font/big_noodle_titling.ttf')
		format('truetype');
	font-weight: normal;
	font-style: normal;
}	

@font-face{
	font-family: 'Bebas Neue';
	src: url('/site3.2/css/font/BebasNeue.otf');
	src: url('/site3.2/css/font/BebasNeue.otf');
}
@font-face {
	font-family: 'BebasKai';
	src: url('/site3.0/css/font/BebasKai-Regular.otf')
		format('OpenType');
}	
body {
	font-size: 1rem;
	font-family:  Arial, Helvetica, sans-serif;
	color: #444;
}

h1 {
	color: #808080;
	font-size: 28px;
	line-height: 26px;
	text-decoration: none;
	margin: 20px 0;
		font-weight: normal;
		font-family:'BebasKai';
	
}

h2 {
	font-size: 24px;
	line-height: 24px;
	color: #808080;
	text-decoration: none;
	margin: 20px 0;
	font-weight: normal;
		font-family:'BebasKai';
	
}

.vid_class h3 {
	font-size: 18px;
	line-height: 15px;
	color: #408080;
	text-decoration: none;
	margin: 30px 0;
	font-weight: normal;
	font-style: inherit;
			font-family:'BebasKai';
}

h4 {
	font-size: 20px;
	line-height: 20px;
	color: #cb2b40;
	text-decoration: none;
	margin: 15px 0;
	font-weight: normal;
			font-family:'BebasKai';
	
}

p {
	font-size: 14px;
	text-align: justify;
	color: #888;
	
}

a{
	color: #fff;
	
}
/* largura lamina menu efeito de tombo lamina*/


#img_nav img{
	margin-left: auto;
	margin-top: -5px;
}

/****envergadura menu ******/
.wrapper #menu ul > li > a:hover {
	text-decoration: none;
	-webkit-transform: skew(-10deg);
	-moz-transform: skew(-10deg);
} 

/* altura da backgrond do menu*/



.div_back {
	padding: 0px;
	margin: 0%;
	height: 90px;
	width:100%;
	font-family: Bebas Neue;
	margin-top: 0px;
	position: relative;
	z-index: 1;
	background-image: url(/site3.2/imagens/traco.png);
	background-repeat: repeat;
		
		
		
		
}

header {
	padding: 0px;
	height: 80px;
	width:100%;
	/*background-color: rgba(240,0,0, 0.8);*/
	font-family: Bebas Neue;
	margin-top: 0px;
	position: fixed;
	z-index: 1;
	
} 
header .logo {
	float: right;
	margin-bottom: 15px;
}

header .right p {
	text-align: right;
	text-decoration: none;
}

header .right a {
	text-align: right;
	text-decoration: none;
	font-size: 18px;
	line-height: 100px;
	color: #707070;
}
/*header .right a:hover{opacity:0.1;}*/

header .right p, header .right a {
	margin: 10px 0px;
}
/* distacia o menu do submenu*/

header nav {
	
	position: relative;
	width:100%;
	height: 0px;
	font-size: 20px;
	float: left;
	margin-left: 500px;
	margin-top: -69px;
	z-index: 99;
	
	
} /*fonte do menu ,tamanho fonte*/

header nav li {]
	position: relative;
	float: left;
} 

/*posicionamento do menu*/
header nav a {
	display: block;
	color: #000;
	text-decoration: none;
	padding: 19px 2px;
	width: 100px;
	text-align: center;
	transition: all .3s linear;
	text-transform: uppercase;
	background-color: rgba(0,0,0, 0.8);
	background-image: url(/site3.2/imagens/traco.png);
		background-repeat: repeat;
} /* altura e largura do menu e cor da fonte do 1 menu */



header .right {
	float: right;
	text-align: right;
	color: #707070;
	line-height: 122px;
}

/* cor do menu e esticamento*/
header nav li:hover a {
	padding: 30px 1px;
	color: #000;
	background-color: rgba(0,0,0, 0.5);
	background-image: url(/site3.2/imagens/traco.png);
		background-repeat: repeat;
} 

header nav table {
	border-collapse: collapse;
	position: fixed;
	left: 0;
	top: 0;
}

header nav .dropdown .sub-menu {
	display: none;
	position: absolute;
	top: 122px;
	left: -600px;
	margin: 0;
	height: auto;
	width: 1000px;
	z-index: 9999;
	background: #fff;
	
} /* cor de menu */
header nav .dropdown:hover .sub-menu {
	display: block;
}

header nav .dropdown:hover .sub-menu li {
	position: relative;
	float: left;
	width: 330px;
	margin: 0;
	padding: 0;
	background: #3C4149;
	color: #fff;
}

header nav .dropdown:hover .sub-menu li a {
	display: block;
	width: 330px;
	font-size: 12px;
	padding: 5px;
	text-align: left;
	text-decoration: none;
	color: #fff;
}

header nav .dropdown:hover .sub-menu li> a:hover {
	color: #fff;
	background-color: #828894;
}

 /*cor da seleÃ§Ã£o do menu*/
header nav .dropdown ul li.dropdown .sub-menu {
	display: none;
	position: absolute;
	top: 0px;
	left: 200px;
	margin: 0;
	height: auto;
	width: 190px;
	z-index: 3;
}

header nav .dropdown ul li.dropdown:hover .sub-menu {
	display: block;
}


/***********DISTANCIA DO SUBMENU***********/
header nav .dropdown .sub-menu2 {
	display: none;
	position: absolute;
	top: 69px;
	left: 0;
	margin: 0;
	height: auto;
	width: 200px;
	z-index: 99;
}

header nav .dropdown:hover .sub-menu2 {
	display: block;
}

header nav .dropdown:hover .sub-menu2 li {
	position: relative;
	float: left;
	width: 200px;
	margin: 0;
	padding: 0;
}
/* tamanho fonte submenu*/
header nav .dropdown:hover .sub-menu2 li a {
	display: block;
	width: 200px;
	font-size: 18px;
	padding: 5px;
	text-align: left;
	text-decoration: none;
	color: #ccc;
	
} 
/*com do submenu2*/
header nav .dropdown:hover .sub-menu2 li a:hover {
	color: #000;
	background-color: rgba(50,120,180, 0.9);
}

header nav .dropdown ul li.dropdown .sub-menu2 {
	display: none;
	position: absolute;
	top: 0px;
	left: 200px;
	margin: 0;
	height: auto;
	width: 190px;
	z-index: 3;
}

header nav .dropdown ul li.dropdown:hover .sub-menu2 {
	display: block;
}


aside {
	float: right;
	width: 25%;
	margin: 0 0 0 10px;
}

aside h2 {
	margin: 0px;
}

aside h2 a {
	display: block;
	padding: 5px;
	font-size: 14px;
	background: #7e1f25;
	color: #FFF;
	text-decoration: none;
}

aside nav {
	list-style: none;
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0;
}

aside li {
	margin: 0 0 0 0;
}

aside li a {
	display: block;
	padding: 5px;
	color: #333;
	text-decoration: none;
	border-bottom: 1px dotted #ccc;
	font-size: 12px;
}

aside nav li a:hover {
	color: #eee;
	background: #7e1f25;
}

aside h3 {
	color: #7e1f25;
	text-align: center;
}

aside p {
	text-align: center;
	line-height: 1.8em;
	margin: 0;
}

aside strong {
	font-size: 23px;
	color: #7e1f25;
}





@media only screen and (min-width:767px) and (max-width:1600px) {
	
	.slicknav_menu{
	visibility: hidden;
	}
	
	header {
	    margin-top: -55px;
		height: 100px;
		visibility: visible;
	}


	
}


***********************footer ***********************/
.full {
    width: 100%;	
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}


/**cor do rodapÃ©**/
.footer {
	background-color:#54697E;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	
	/*border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;*/
}

.footer p {
	margin: 0;
}

.footer h3 {
	border-bottom: 1px solid #b4aba9;
	margin-left: 15px;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-bottom: 50px;
	margin-left: 25px;
	padding-left: 0;
	margin-top: 15px;
	color: #fff;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #fff;
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 9 0 0 0px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 22px solid #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}




/*
#img_prod{
	max-height: 50%;
	max-width:100%;
	height: auto;
	width: auto;
}
	*/
.text-prod P{
	font-size: 18px;
	text-align: center;
	font-family: BebasKai;
}

i{
	font-family: BebasKai;
	
}

/* **********Banner***********

  .carousel-inner img{
  max-width: 100%;
  max-height:100%;
      width: auto;
      height: auto;
      z-index: 2;
      position: relative;
  }




/*******************Menu Mobile**********************/


@media only screen and (max-width:768px){
	.slicknav_menu{
	visibility: visible;
	position: fixed;
	z-index: 99;
	width: 100%;
	}
	
	header {
	    margin-top: -55px;
		height: 100px;
		visibility: hidden;
	}
	
	/*
	.carousel-inner img{
	margin-top: 53px;
	position: relative;
	}
	*/
	.jssorl-009-spin{
	margin-left:500px;
	}
}

/*********************/
.slicknav_btn {
	position: relative;
	display: block;
	vertical-align: middle;
	float: right;
	padding: 0.438em 0.625em 0.438em 0.625em;
	line-height: 1.125em;
	cursor: pointer;
}

.slicknav_menu .slicknav_menutxt {
	display: block;
	line-height: 1.188em;
	float: left;
}

.slicknav_menu .slicknav_icon {
	float: left;
	margin: 0.188em 0 0 0.438em;
}

.slicknav_menu .slicknav_no-text {
	margin: 0
}

.slicknav_menu .slicknav_icon-bar {
	display: block;
	width: 1.125em;
	height: 0.125em;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
	margin-top: 0.188em
}

.slicknav_nav {
	clear: both
	
}

.slicknav_nav ul, .slicknav_nav li {
	
	display: block
}

.slicknav_nav .slicknav_arrow {
	font-size: 0.0em;
	margin: 0 0 0 0.4em;
}

.slicknav_nav .slicknav_item {
	cursor: pointer;
}

.slicknav_nav .slicknav_row {
	display: block;
	
}

.slicknav_nav a {
	display: block;
		 text-decoration:none; 
	
}
.slicknav_nav a:link, a:visited {
	text-decoration: none
	}
.slicknav_nav a:hover {
	text-decoration: underline; 
	color: #f00
	}
.slicknav_nav a:active {
	text-decoration: none
	}
	
.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a {
	display: inline
}

.slicknav_menu:before, .slicknav_menu:after {
	content: " ";
	display: table;
}

.slicknav_menu:after {
	clear: both
}

.slicknav_menu {
	font-size: 16px;
	
}

.slicknav_btn {
	margin: 5px 5px 6px;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	/*background-color: #222222;*/
}


.slicknav_menu .slicknav_menutxt {
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 1px 3px #000;
}

/************cor icone menu*************/
.slicknav_menu .slicknav_icon-bar {
	background-color: rgba(240,0,0, 0.8);
}


.slicknav_menu {
	padding: 5px;
	background-image: url("/site3.2/imagens/logoori.png");
	background-color:rgba(0,0,0, 0.8);
	background-size: 165px;
	background-repeat: no-repeat;
}

.slicknav_nav {
	color: #fff;
	margin: 0;
	padding: 0;
	font-size: 0.875em;
}

.slicknav_nav, .slicknav_nav ul {
	list-style: none;
	overflow: hidden;
}

.slicknav_nav ul {
	padding: 0;
	margin: 0 0 0 20px;
}

.slicknav_nav .slicknav_row {
	padding: 5px 10px;
	margin: 2px 5px;
}

.slicknav_nav a {
	padding: 5px 10px;
	margin: 2px 5px;
	text-decoration: none;
	color: #fff;
}

.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a {
	padding: 0;
	margin: 0;
}
/*
.slicknav_nav .slicknav_row:hover {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: rgba(50,120,180, 0.8);
	color: #fff;
}
*/
.slicknav_nav a:hover {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: rgba(50,120,180, 0.8);
	color: #fff;
}

.slicknav_nav .slicknav_txtnode {
	margin-left: 15px;
}

.contenthome section {
	display: table;
}

.contenthome section .Dir {
	float: left;
	width: 30%;
	text-align: justify;
	margin-right: 75px;
	margin-left: 10px;
}

.contenthome section .Esq {
	float: left;
	width: 30%;
	margin-left: 40px;
}

.contenthome section .Meio {
	float: left;
	width: 25%;
}

.Meio a {
	text-decoration: none;
	color: #888;
}

.Esq img {
	width: 80%;
	float: right;
	margin-top: -90px;
	z-index: 1000;
	position: relative;
}

.bghome-efeito {
	background-repeat: repeat-y;
	background-position: right;
	height: 250px;
}

.bghome-efeito .linha {
	width: 100%;
	height: 2px;
	background-color: #ccc;
	clear: both;
}

.dir-midia {
	width: 45%;
	float: left;
	display: block;
	padding-right: 5px;
	margin-right: 70px;
}

.dir-midia iframe {
	border: 4px solid #ccc;
	margin-left: -8px;
}

.esq-midia {
	width: 45%;
	float: left;
	display: block;
}

.dir-midia h3, .esq-midia h3 {
	padding-left: 10px;
}

.esq-midia img {
	margin-left: 5px;
	border: 4px solid #ccc;
	transition: 0.6s;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.esq-midia img:hover {
	margin-left: 5px;
	border: 4px solid #ccc;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

.dir-midia p, .esq-midia p {
	padding-left: 5px;
}

.linha_vertical{
	box-sizing: border-box;
	height:3px;
	width:72%;
	margin-top: -110px;
	margin-left: 130px;
	background-color: #989CA7;
}
.linha_vertical-2{
	box-sizing: border-box;
	height:50px;
	width:100%;
	margin-top: 50px;
	background-color:#fff;
    position: relative;
    z-index: 1;
}

/***************************video**************/
#vid_p{
	font-family: BebasNoue;
	text-align: 
	}
	
/**************************ERRO 404************/	

.erro404 {
	margin:200 0 150 100;
}
.erro404 .col-md-6 h1, p{
	color: red;
}

.erro404 .col-md-6{
		background-color:transparent;
}
.erro404 .col-md-6 img{
	 width: 70%;
}

/**************************PRODUTOS*************/

.prod_class{
	margin: 30px;
}