@charset "ISO-8859-1";

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: auto;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	transition: opacity 500ms;
	visibility: visible;
	opacity: 1;
	z-index: 999;
}

.overlay img {
	position: fixed;
	z-index: 100;
	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 100%;
	margin-top: -60px;
	margin-left: -80px;
	
}

.overlay:target {
	visibility: hidden;
	opacity: 0;
}

.popup {
	margin: 60px auto;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 0.1s ease-in-out;
}

.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
	position: fixed;
	top: 20px;
	right: 30px;
	transition: all 20ms;
	font-size: 50px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}

.popup .close:hover {
	color: #red;
}

.popup .content {
	max-height: 30%;
	overflow: auto;
}

@media screen and (max-width: 965px) {
	.popup {
		visibility: hidden;
	}
	.overlay {
		visibility: hidden;
	}
	.overlay img {
		visibility: hidden;
	}
}