body, html {
	font-family: BebasKai;
}

body {
	padding: 0px;
	margin: 0%;
	height: 100%;
	width: 100%;
	font-family: Bebas Neue;
	margin-top: 0px;
	position: relative;
	background-image: url(../imagens/risco12.jpg);
	background-repeat: repeat;
	background-color: rgba(255, 255, 255, 0.5);
}

.container-fluid {
	height: auto;
	width: auto;
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 0px;
	position: relative;
	background-image: url(../imagens/risco12.jpg);
	background-repeat: repeat;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

.container .row {
	background-color: transparent;
}

.clear {
	clear: both;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

ul {
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

audio, canvas, img, video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: both;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

@font-face {
	font-family: 'big-noodle-oblique';
	src: url('../css/font/big_noodle_titling_oblique.ttf')
		format('truetype'), url('../css/font/big_noodle_titling.ttf')
		format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('../css/font/BebasNeue.otf');
}

@font-face {
	font-family: 'BebasKai';
	src: url('../css/font/BebasKai-Regular.otf') format('OpenType');
}

body {
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
	color: #444;
}

h1 {
	color: #808080;
	font-size: 28px;
	line-height: 26px;
	text-decoration: none;
	margin: 20px 0;
	font-weight: normal;
	/*font-family: 'PT Sans Narrow';*/
	font-family: BebasKai;
}

h2 {
	font-size: 24px;
	line-height: 24px;
	color: #808080;
	text-decoration: none;
	margin: 20px 0;
	font-weight: normal;
}

h3 {
	font-size: 18px;
	line-height: 15px;
	color: #408080;
	text-decoration: none;
	margin: 30px 0;
	font-weight: normal;
	font-style: inherit;
}

h4 {
	font-size: 20px;
	line-height: 20px;
	color: #cb2b40;
	text-decoration: none;
	margin: 15px 0;
	font-weight: normal;
}

p {
	font-size: 14px;
	text-align: justify;
	color: #888;
}

a {
	color: #fff;
}
/* largura lamina menu efeito de tombo lamina*/
#img_nav img {
	margin-left: auto;
}

/****************envergadura menu *********************************/
.wrapper #menu ul>li>a:hover {
	text-decoration: none;
	-webkit-transform: skew(-10deg);
	-moz-transform: skew(-10deg);
}
/*********** div criada para complemtar o menu *******************/
.div_back {
	padding: 0px;
	margin: 0%;
	height: 90px;
	width: 100%;
	font-family: Bebas Neue;
	margin-top: 0px;
	position: relative;
	z-index: 1;
	background-repeat: repeat;
	background-color: white;
}
/*************************telefone index*****************/
.div_back p {
	text-align: right;
	margin-top: -60px;
	margin-right: 50px;
	font-size: 22px;
}

.div_back a {
	color: #408080;
	text-decoration: none;
}
/*****************linha vermelha abaixo do menu*/
header {
	padding: 0px;
	height: 80px;
	width: 100%;
	/*background-color: rgba(240,0,0, 0.8);*/
	font-family: Bebas Neue;
	margin-top: -60px;
	position: fixed;
	z-index: 1;
}

header .logo {
	float: right;
	margin-bottom: 15px;
}

header .right p {
	text-align: right;
	text-decoration: none;
}

header .right a {
	text-align: right;
	text-decoration: none;
	font-size: 18px;
	line-height: 100px;
	color: #707070;
}
/*header .right a:hover{opacity:0.1;}*/
header .right p, header .right a {
	margin: 10px 0px;
}
/* distacia o menu do submenu*/
header nav {
	position: relative;
	width: 100%;
	height: 0px;
	font-size: 20px;
	float: left;
	margin-left: 500px;
	margin-top: -69px;
	z-index: 99;
} /*fonte do menu ,tamanho fonte*/
header nav li { ]
	position: relative;
	float: left;
}
/*posicionamento do menu e cor*/
header nav a {
	display: block;
	color: #000;
	text-decoration: none;
	padding: 19px 2px;
	width: 100px;
	text-align: center;
	transition: all .3s linear;
	text-transform: uppercase;
	/*background-color: rgba(250,0,0, 0.8);*/
	background-repeat: repeat;
}
/* altura e largura do menu e cor da fonte do 1 menu */
header .right {
	float: right;
	text-align: right;
	color: #707070;
	line-height: 122px;
}
/* cor do menu e esticamento*/
header nav li:hover a {
	padding: 30px 1px;
	color: rga:(50, 120, 180);
	background-color: rgba(255, 255, 255, 1);
	background-repeat: repeat;
}

header nav table {
	border-collapse: collapse;
	position: fixed;
	left: 0;
	top: 0;
}
/*header nav .dropdown .sub-menu {
	display: none;
	position: absolute;
	top: 122px;
	left: -600px;
	margin: 0;
	height: auto;
	width: 1000px;
	z-index: 9999;
	background: #fff;
	
} */
/* cor de menu */
header nav .dropdown:hover .sub-menu {
	display: block;
}

header nav .dropdown:hover .sub-menu li {
	position: relative;
	float: left;
	width: 330px;
	margin: 0;
	padding: 0;
	background: #3C4149;
	color: #fff;
}

header nav .dropdown:hover .sub-menu li a {
	display: block;
	width: 330px;
	font-size: 12px;
	padding: 5px;
	text-align: left;
	text-decoration: none;
	color: #fff;
}

header nav .dropdown:hover .sub-menu li>a:hover {
	color: #fff;
	background-color: #828894;
}
/*cor da seleÃ§Ã£o do menu*/
header nav .dropdown ul li.dropdown .sub-menu {
	display: none;
	position: absolute;
	top: 0px;
	left: 200px;
	margin: 0;
	height: auto;
	width: 190px;
	z-index: 3;
}

header nav .dropdown ul li.dropdown:hover .sub-menu {
	display: block;
}
/***********DISTANCIA DO SUBMENU***********/
header nav .dropdown .sub-menu2 {
	display: none;
	position: absolute;
	top: 69px;
	left: 0;
	margin: 0;
	height: auto;
	width: 200px;
	z-index: 99;
}

header nav .dropdown:hover .sub-menu2 {
	display: block;
}

header nav .dropdown:hover .sub-menu2 li {
	position: relative;
	float: left;
	width: 200px;
	margin: 0;
	padding: 0;
}
/* tamanho fonte submenu*/
header nav .dropdown:hover .sub-menu2 li a {
	display: block;
	width: 200px;
	font-size: 18px;
	padding: 5px;
	text-align: left;
	text-decoration: none;
	color: #ccc;
}
/*cor do submenu2 e texto */
header nav .dropdown:hover .sub-menu2 li a:hover {
	color: rgb(50, 120, 180);
	/*background-color: rgba(50,120,180, 0.9);*/
}

header nav .dropdown ul li.dropdown .sub-menu2 {
	display: none;
	position: absolute;
	top: 0px;
	left: 200px;
	margin: 0;
	height: auto;
	width: 190px;
	z-index: 3;
}

header nav .dropdown ul li.dropdown:hover .sub-menu2 {
	display: block;
}

/****************sub-menu3**************************/
header nav .dropdown .sub-menu3 {
	display: none;
	position: absolute;
	top: 69px;
	left: 0;
	margin: 0;
	height: auto;
	width: 200px;
	z-index: 99;
}

header nav .dropdown:hover .sub-menu3 {
	display: block;
}

header nav .dropdown:hover .sub-menu3 li {
	position: relative;
	float: left;
	width: 200px;
	margin: 0;
	padding: 0;
}
/* tamanho fonte submenu*/
header nav .dropdown:hover .sub-menu3 li a {
	display: block;
	width: 230px;
	font-size: 18px;
	padding: 10 0 0 15;
	text-align: left;
	text-decoration: none;
	color: #ccc;
}
/*cor do submenu2 e texto */
header nav .dropdown:hover .sub-menu3 li a:hover {
	color: rgb(50, 120, 180);
	/*background-color: rgba(50,120,180, 0.9);*/
}

header nav .dropdown ul li.dropdown .sub-menu3 {
	display: none;
	position: absolute;
	top: 0px;
	left: 200px;
	margin: 0;
	height: auto;
	width: 190px;
	z-index: 3;
}

header nav .dropdown ul li.dropdown:hover .sub-menu3 {
	display: block;
}

#hr {
	background-color: rgba(240, 0, 0, 0.7);
	width: 100%;
	height: 5%;
	margin-top: 0px;
}

aside {
	float: right;
	width: 25%;
	margin: 0 0 0 10px;
}

aside h2 {
	margin: 0px;
}

aside h2 a {
	display: block;
	padding: 5px;
	font-size: 14px;
	background: #7e1f25;
	color: #FFF;
	text-decoration: none;
}

aside nav {
	list-style: none;
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0;
}

aside li {
	margin: 0 0 0 0;
}

aside li a {
	display: block;
	padding: 5px;
	color: #333;
	text-decoration: none;
	border-bottom: 1px dotted #ccc;
	font-size: 12px;
}

aside nav li a:hover {
	color: #eee;
	background: #7e1f25;
}

aside h3 {
	color: #7e1f25;
	text-align: center;
}

aside p {
	text-align: center;
	line-height: 1.8em;
	margin: 0;
}

aside strong {
	font-size: 23px;
	color: #7e1f25;
}

@media only screen and (min-width:1186px) and (max-width:1600px) {
	.slicknav_menu {
		visibility: hidden;
		margin-top: -55;
	}
	.phone {
		visibility: hidden;
	}
	.phone_verde {
		visibility: hidden;
		margin-top: -50px;
	}
	header {
		height: 100px;
		visibility: visible;
	}
	.parallelogram {
		visibility: hidden;
		margin-top: -19px;
	}
	#phone {
		visibility: hidden;
	}
}

*********************** footer *********************** /
.full {
	width: 100%;
}

.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
/**cor do rodapé**/
.footer {
	background-color: #54697E;
	height: auto;
	padding-bottom: 30px;
	position: relative;

	/*border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;*/
}

.footer p {
	margin-left: 10px;
	margin-right: 10px;
}

.footer h3 {
	border-bottom: 1px solid #b4aba9;
	margin-left: 15px;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}

.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-bottom: 50px;
	margin-left: 25px;
	padding-left: 0;
	margin-top: 15px;
	color: #fff;
}

.footer ul li a {
	padding: 5px 0 0 0;
	display: block;
}

.footer a {
	color: #fff;
}

#form_pag {
	margin: 100 100 100 100;
}

#pag_foot p {
	margin: 0 15px 0 15px;
}

.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}

.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}

.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}

.newsletter-box {
	overflow: hidden;
}

.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}

.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}

.social li a {
	color: #EDEFF1;
}

.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}

.social li a i {
	font-size: 16px;
	margin: 9 0 0 0px;
	color: #EDEFF1 !important;
}

.footer-bottom {
	background: #E3E3E3;
	border-top: 22px solid #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer-bottom p.pull-left {
	padding-top: 6px;
}

.payments {
	font-size: 1.5em;
}

#foot-link a {
	color: #408080;
	font-size: 12px;
}
/*
#img_prod{
	max-height: 50%;
	max-width:100%;
	height: auto;
	width: auto;
}
	*/
.text-prod P {
	font-size: 14px;
	text-align: center;
}

i {
	font-family: BebasKai;
}

/***********Banner************/
.carousel-inner img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	z-index: 2;
	position: relative;
}
/*******************1440x900*************************/
@media only screen and (max-width:1440px) {
	.carousel-inner img {
		max-width: 100%;
		max-height: 100%;
		width: 100%;
		height: 693px;
		z-index: 2;
		position: relative;
		margin-top: 32px;
	}
}
/*******************1366x768*************************/
@media only screen and (max-width:1366px) {
	.carousel-inner img {
		max-width: 100%;
		max-height: 100%;
		width: 100%;
		height: 560px;
		z-index: 2;
		position: relative;
		margin-top: 32px;
	}
}
/*******************Menu Mobile/tablet**********************/
/**********antes 768px padrão smartphone*******/
@media only screen and (max-width:1186px) {
	.slicknav_menu {
		visibility: visible;
		position: fixed;
		z-index: 99;
		width: 100%;
		margin-top: 0px;
	}
	.embed-container iframe {
		margin-top: 52px;
	}
	header {
		visibility: hidden;
	}
	.phone {
		visibility: visible;
		position: fixed;
		background-color: red;
		width: 12%;
		height: 7.8%;
		z-index: 99;
		margin-left: 60%;
		border-radius: 5px;
		margin-top: 0%;
	}
	/*.phone_verde{
	visibility: visible;
	position: fixed;
	background-color:transparent;
	z-index: 99;
	margin-left: 200px;
    margin-top: 6px;
	}*/
	#phone {
		font-size: 32px;
		margin-top: 10px;
		margin-left: 21%;
		color: #fff;
		visibility: visible;
		-webkit-transform: skew(20deg);
		-moz-transform: skew(20deg);
		-o-transform: skew(20deg);
	}
	.parallelogram {
		width: 50px;
		height: 54px;
		margin-left: 250px;
		-webkit-transform: skew(-20deg);
		-moz-transform: skew(20deg);
		-o-transform: skew(20deg);
		background: transparenty;
		position: fixed;
		z-index: 99;
		visibility: visible;
	}
	.carousel-inner img {
		margin-top: 54px;
		position: relative;
		max-width: 100%;
		max-height: 100%;
		width: 100%;
		height: auto;
		z-index: 2;
		position: relative;
	}
	.jssorl-009-spin {
		margin-left: 500px;
	}
	.text_empresa {
		margin: 0 10 0 10;
	}
	.fundo_empresa img {
		margin-top: 20px;
	}
	.vid_class .row {
		margin: -30 5 0 5;
	}
	.erro404 .row #log404 img {
		margin-top: 20px;
	}
	#ban_iso img {
		margin-top: -40px;
	}
	#ban_serra img {
		margin-top: 19px;
	}
	#ban_eletro2 {
		margin-top: 35px;
	}
	#ban_eletro3 {
		margin-top: 20px;
	}
	#ban_eletro4 {
		margin-top: 35px;
	}
	#id_aut4 {
		background: linear-gradient(rgba(250, 0, 0, 0.8), rgba(250, 0, 0, 0.9));
		/* Standard syntax (must be last) */
	}
	.eletro_div {
		margin: 0 15px 0 15px;
	}
	.eletro_div2 {
		margin: 0 15px 0 15px;
	}
	.whatsapp-chat {
		visibility: hidden;
	}
	.whatsapp-chat a:hover {
		visibility: hidden;
	}
	#whatsapp-chat {
		visibility: visible;
		position: fixed;
		bottom: 10px;
		right: 0px;
		background-color: green;
		padding: 10px 10px 10px 10px;
		z-index: 99999;
		border-radius: 30px;
		font-size: 10px;
	}
	#whatsapp-chat a:hover {
		visibility: visible;
		color: #070;
		padding: 10px 10px 10px 10px;
		border-radius: 30px;
		position: fixed;
		bottom: 10px;
		right: 0px;
		z-index: 99999;
		border-style: solid;
		border-width: 1px;
		text-decoration: none;
		font-size: 10px;
		background-color: #fff;
	}
	#baner_anima {
	position: relative;
	top: 55px;
	left: 0px;
	width: auto;
	height: auto;
	z-index: 999999;

}
	
}
/*********************/
.slicknav_btn {
	position: relative;
	display: block;
	vertical-align: middle;
	float: right;
	padding: 0.438em 0.625em 0.438em 0.625em;
	line-height: 1.125em;
	cursor: pointer;
}

.phone i {
	visibility: visible;
	z-index: 999999;
	position: fixed;
	margin-top: -80px;
}

.slicknav_menu .slicknav_menutxt {
	display: block;
	line-height: 1.188em;
	float: left;
}

.slicknav_menu .slicknav_icon {
	float: left;
	margin: 0.188em 0 0 0.438em;
}

.slicknav_menu .slicknav_no-text {
	margin: 0
}

.slicknav_menu .slicknav_icon-bar {
	display: block;
	width: 1.125em;
	height: 0.125em;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
	margin-top: 0.188em
}

.slicknav_nav {
	clear: both
}

.slicknav_nav ul, .slicknav_nav li {
	display: block
}

.slicknav_nav .slicknav_arrow {
	font-size: 0.0em;
	margin: 0 0 0 0.4em;
}

.slicknav_nav .slicknav_item {
	cursor: pointer;
}

.slicknav_nav .slicknav_row {
	display: block;
}

.slicknav_nav a {
	display: block;
	text-decoration: none;
}

.slicknav_nav a:link, a:visited {
	text-decoration: none
}

.slicknav_nav a:hover {
	text-decoration: underline;
	color: #f00
}

.slicknav_nav a:active {
	text-decoration: none
}

.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a {
	display: inline
}

.slicknav_menu:before, .slicknav_menu:after {
	content: " ";
	display: table;
}

.slicknav_menu:after {
	clear: both
}

.slicknav_menu {
	font-size: 16px;
}

.slicknav_btn {
	margin: 5px 5px 6px;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	/*background-color: #222222;*/
}

.slicknav_menu .slicknav_menutxt {
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 1px 3px #000;
}
/************cor icone menu*************/
.slicknav_menu .slicknav_icon-bar {
	background-color: rgba(250, 250, 250, 0.8);
}

.slicknav_menu {
	padding: 9px;
	background-image: url("../imagens/logoori.png");
	background-color: rgba(0, 0, 0, 0.9);
	background-size: 165px;
	background-repeat: no-repeat;
}

.slicknav_nav {
	color: #fff;
	margin: 0;
	padding: 0;
	font-size: 0.875em;
}

.slicknav_nav, .slicknav_nav ul {
	list-style: none;
	overflow: hidden;
}

.slicknav_nav ul {
	padding: 0;
	margin: 0 0 0 20px;
}

.slicknav_nav .slicknav_row {
	padding: 5px 10px;
	margin: 2px 5px;
}

.slicknav_nav a {
	padding: 5px 10px;
	margin: 2px 5px;
	text-decoration: none;
	color: #fff;
}

.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a {
	padding: 0;
	margin: 0;
}
/*
.slicknav_nav .slicknav_row:hover {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: rgba(50,120,180, 0.8);
	color: #fff;
}
*/
.slicknav_nav a:hover {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: rgba(50, 120, 180, 0.8);
	color: #fff;
}

.slicknav_nav .slicknav_txtnode {
	margin-left: 15px;
}

.contenthome section {
	display: table;
}

.contenthome section .Dir {
	float: left;
	width: 30%;
	text-align: justify;
	margin-right: 75px;
	margin-left: 10px;
}

.contenthome section .Esq {
	float: left;
	width: 30%;
	margin-left: 40px;
}

.contenthome section .Meio {
	float: left;
	width: 25%;
}

.Meio a {
	text-decoration: none;
	color: #888;
}

.Esq img {
	width: 80%;
	float: right;
	margin-top: -90px;
	z-index: 1000;
	position: relative;
}

.bghome-efeito {
	background-repeat: repeat-y;
	background-position: right;
	height: 250px;
}

.bghome-efeito .linha {
	width: 100%;
	height: 2px;
	background-color: #ccc;
	clear: both;
}

.dir-midia {
	width: 45%;
	float: left;
	display: block;
	padding-right: 5px;
	margin-right: 70px;
}

.dir-midia iframe {
	border: 4px solid #ccc;
	margin-left: -8px;
}

.esq-midia {
	width: 45%;
	float: left;
	display: block;
}

.dir-midia h3, .esq-midia h3 {
	padding-left: 10px;
}

.esq-midia img {
	margin-left: 5px;
	border: 4px solid #ccc;
	transition: 0.6s;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.esq-midia img:hover {
	margin-left: 5px;
	border: 4px solid #ccc;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

.dir-midia p, .esq-midia p {
	padding-left: 5px;
}

.linha_vertical-2 {
	margin-top: 50px;
	background-color: transparent;
	position: relative;
	z-index: 0;
}
/***************************index**************/
.col-md-6 {
	background-color: ccc;
}

.caption {
	width: 100%;
	padding: 10 10px;
}

.caption img {
	width: 100%;
}

.caption h2 {
	text-align: center;
	font-family: BebasKai;
}

.caption p {
	text-align: center;
	margin: 0 20px 0 20px;
}

.caption p>a {
	font-size: 20px;
	font-family: BebasKai;
	width: 100%;
	padding: 10 10px;
}

#text_client h2 {
	font-family: BebasKai;
}

.caption a {
	color: #fff;
}
/***********************certificacao*************/
#ban_iso {
	margin-top: 95px;
	max-height: 100%;
	max-width: 100%;
}

.certif {
	margin: 10 10 50 10;
}
/*********************seleção texto index , criar um css separado******************/
.col-md-3 {
	margin-bottom: 0px;
	padding: 50px;
	background-color: rgba(50, 120, 180, 0.7);
}

.col-md-3 p {
	color: #fff;
}

.col-md-3 h2 {
	color: #fff;
}

.col-md-4 img {
	border-radius: 10px;
}

.col-md-4:hover img {
	border-radius: 30px;
	opacity: 0.5;
}
/*******************QUEM SOMOS***********************/
.text_empresa h1, h2, h4 {
	font-family: BebasKai;
}

.text_empresa .row .col-md-6 {
	background-color: transparent;
}
/*.row .fundo_empresa img{
	max-height:100%;
	max-width:100%;
	width: 100%;
	height: auto;
	background-color: transparent;	
}
*/
.fundo_empresa {
	margin: 0;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	margin-top: 0px;
	margin-bottom: 30px;
}

.embed-container iframe, .embed-container object, .embed-container embed
	{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*******************Contatos***********************/
.class_contat p {
	font-family: arial;
	font-size: 16px;
}

.class_contat {
	margin-top: 110px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 80px;
}

.class_contat .row .col-md-6 {
	background-color: transparent;
}
/********************Porta Industrial, comercial e residencial ********************/
.class_port {
	margin-top: 120px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 80px;
}

.class_port h1 {
	margin-top: 20px;
}

.class_port img {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
}

.class_port .row .col-md-6 {
	background-color: transparent;
}

#id_prod {
	margin-top: 100px;
}
/********************VIDEOS ********************/
.vid_class .row h3 {
	font-size: 18px;
	line-height: 15px;
	color: #408080;
	text-decoration: none;
	margin: 30px 0;
	font-weight: normal;
	font-style: inherit;
	font-family: 'BebasKai';
}

#vid_p {
	font-family: BebasKai;
	font-size: 18px;
	color: #c0c0c0;
}

#vid_6 {
	background-color: transparent;
}

.vid_class {
	margin-top: 110px;
}
/********************Orçamentos ********************/
.form {
	margin-top: 110px;
	margin-bottom: 80;
	font-family: BebasKai;
	font-size: 18px;
	color: #808080
}

.form .row input, textarea, select {
	border-color: #ccc;
	border-style: solid;
	border-width: medium;
	color: #000;
}

.form .row .col-md-6 {
	background-color: transparent;
}

.form .row button {
	margin-top: 10px;
	font-size: 18px;
	padding: 7 30 7 30;
}

.obrigatorio {
	font-size: 16px;
}
/************************ Porta Comercial **************/
#port_comerc {
	margin-right: 10px;
	margin-top: 30px;
}
/*************************ERRO 404****************************/
.erro404 .row {
	background-color: transparent;
	margin: 14% 0 10% 0;
}

.erro404 .row #log404 {
	background-color: transparent;
}

.erro404 .row #log404 h1 {
	color: red;
}

.erro404 .row #log404 p a {
	color: #408080;
}

.erro404 .row #log404 img {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
}

#lamina404 {
	margin-top: -30px;
	margin-left: -10px;
}
/************************Localização*********************************/
.local-text .row {
	border-style: none;
	border: 0px;
	background-color: transparent;
}

.local-text {
	margin-top: 140px;
	text-align: center;
}

.local-text .row p {
	text-align: center;
}

.local-text .row p>i {
	font-size: 100px;
	color: rgb(50, 120, 180);
}
/*********************Manutenção *************************************/
.manu_div img {
	margin: 50 10 0 50;
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
}
/*****************Serralheria**************************************/
.serra_div {
	margin-top: 50px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 50px;
}

.serra_div .row .col-md-6 {
	background-color: rgba(50, 120, 180, 0.6);
}

.serra_div .row .col-md-6 p {
	color: #fff;
	font-style: italic;
}

.serra_div .row .col-md-6 h2 {
	color: #fff;
}

#ban_serra {
	margin-top: 36px;
	max-height: 100%;
	max-width: 100%;
}
/*********************Pintura Eletrostarica ***********************/
/*#ban_eletro img{
	margin-top: 0px;
	max-height: 100%;
	max-width: 100%;
	width:100%;
	height:100%;
	background-color: transparent;
	position: relative;
}*/
#ban_eletro2 img {
	margin-top: 20px;
}

#ban_eletro3 img {
	margin-top: 35px;
}

#ban_eletro4 img {
	margin-top: 20px;
}

.eletro_div .row {
	margin: 10 0 10 0;
}

.eletro_div2 .row {
	margin: 10 0 10 0;
}
/****************   automatizador  *********************************/
#id_aut {
	background-color: rgba(50, 100, 180, 0.7);
	background: linear-gradient(rgba(250, 0, 0, 0.6), rgba(250, 0, 0, 0.8));
	/* Standard syntax (must be last) */
	margin-top: 20px;
	padding: 50px;
	height: 300px;
}

#id_aut>p {
	color: #fff;
}

#id_aut>h2 {
	color: #fff;
}

#id_aut  h2 {
	color: #fff;
}

#id_aut  p {
	color: #fff;
}

#id_aut2 {
	background: linear-gradient(rgba(250, 0, 0, 0.9), rgba(250, 0, 0, 1));
	margin-top: 0px;
	padding: 50px;
	color: #fff;
}

#id_aut2 p {
	color: #fff;
}

#id_aut2 h2 {
	color: #fff;
}

#id_aut3 {
	background: linear-gradient(rgba(250, 0, 0, 0.8), rgba(250, 0, 0, 0.9));
	padding: 50px;
}

#id_aut3  p {
	color: #fff;
}

#id_aut3  h2 {
	color: #fff;
}

#id_aut4 {
	background: linear-gradient(rgba(250, 0, 0, 0.9), rgba(250, 0, 0, 0.9));
	padding: 50px;
}

#id_aut4  p {
	color: #fff;
}

#id_aut4  h2 {
	color: #fff;
}

#id_aut0 {
	background: linear-gradient(rgba(255, 255, 255, 0.1),
		rgba(250, 0, 0, 0.6));
	height: 300px;
	padding: 50px;
	margin-bottom: -20px;
}

.class_aut {
	margin: 50 10 0 10;
}

.class_aut2 {
	margin-top: 80px;
	margin-left: 15px;
	margin-right: 15px;
}

.div_secc  video {
	width: auto;
	height: 100%;
}

#img_vao {
	margin-top: 50px;
}

#txt_vao {
	margin-top: 25%;
	margin-left: 0px;
	text-align: center;
}

/*   Busca Pedido  */
.busc_ped {
	padding-top: 280px;
	padding-bottom: 280px;
}

}
.ligueja img {
	position: fixed;
	z-index: 99999999;
	margin-top: 500px;
	width: auto;
}

#square_branco_b {
	background-color: #ffffff;
	color: #FFF;
}

#square_branco_f {
	background-color: #f2f2f2;
	color: #f2f2f2;
}

#square_prata_sm {
	background-color: #c9c9c9;
	color: #c9c9c9;
}

#square_cinza_c {
	background-color: #e7e6e6;
	color: #e7e6e6;
}

#square_cinza_e {
	background-color: #bfbfbf;
	color: #bfbfbf;
}

#square_cinza_ch {
	background-color: #7f7f7f;
	color: #7f7f7f;
}

#square_preto_b {
	background-color: #000000;
	color: #000000;
}

#square_preto_f {
	background-color: #2d2d2d;
	color: #2d2d2d;
}

#square_bege_l {
	background-color: #f5ebc8;
	color: #f5ebc8;
}

#square_bronze {
	background-color: #825A0A;
	color: #825A0A;
}

#square_verde_e {
	background-color: #286428;
	color: #286428;
}

#square_verde_m {
	background-color: #32A537;
	color: #32A537;
}

#square_azul_e {
	background-color: #203864;
	color: #203864;
}

#square_azul_c {
	background-color: #00b0f0;
	color: #00b0f0;
}

#square_amarelo {
	background-color: #ffff00;
	color: #ffff00;
}

#square_marrom {
	background-color: #6E320A;
	color: #6E320A;
}

#square_vermelho {
	background-color: #ff0000;
	color: #ff0000;
}

#square_vermelho_e {
	background-color: #cd0000;
	color: #cd0000;
}
/*****************chat zap**************************/
.whatsapp-chat {
	position: fixed;
	bottom: 10px;
	right: 0px;
	background-color: green;
	padding: 10px 20px 10px 20px;
	z-index: 99999;
	border-radius: 10px;
	font-size: 15px;
	text-transform:
}

.whatsapp-chat a:hover {
	color: #070;
	font-size: 15px;
	padding: 5px 15px 5px 15px;
	border-radius: 10px;
	position: fixed;
	bottom: 10px;
	right: 0px;
	z-index: 99999;
	border-style: solid;
	border-width: 5px;
	text-decoration: none;
	background-color: #fff;
}
/************Slide portas****************/
/*jssor slider loading skin double-tail-spin css*/
#jssor_1 {
	position: relative;
	margin: 0 auto;
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 720px;
	overflow: hidden;
	visibility: hidden;
}

.jssorl-004-double-tail-spin img {
	animation-name: jssorl-004-double-tail-spin;
	animation-duration: 1.6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@
keyframes jssorl-004-double-tail-spin {from { transform:rotate(0deg);
	
}

to {
	transform: rotate(360deg);
}

}

/*jssor slider bullet skin 031 css*/
.jssorb031 {
	position: absolute;
}

.jssorb031 .i {
	position: absolute;
	cursor: pointer;
}

.jssorb031 .i .b {
	fill: #000;
	fill-opacity: 0.5;
	stroke: #fff;
	stroke-width: 1200;
	stroke-miterlimit: 10;
	stroke-opacity: 0.3;
}

.jssorb031 .i:hover .b {
	fill: #fff;
	fill-opacity: .7;
	stroke: #000;
	stroke-opacity: .5;
}

.jssorb031 .iav .b {
	fill: #fff;
	stroke: #000;
	fill-opacity: 1;
}

.jssorb031 .i.idn {
	opacity: .3;
}

/*jssor slider arrow skin 051 css*/
.jssora051 {
	display: block;
	position: absolute;
	cursor: pointer;
}

.jssora051 .a {
	fill: none;
	stroke: #fff;
	stroke-width: 360;
	stroke-miterlimit: 10;
}

.jssora051:hover {
	opacity: .8;
}

.jssora051.jssora051dn {
	opacity: .5;
}

.jssora051.jssora051ds {
	opacity: .3;
	pointer-events: none;
}
.prod_class{
	margin-top: 100px;
	
}