.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 18%;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 100px rgba(20, 0, 0, 0.3), /*030,144,255,*/
		0 1px 2px rgba(0,0,0,0.1);
			transform: rotate(0deg);  

	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
	transition: all 0.4s ease-in-out 0.2s;
	
}

.ch-img-1 { 
	background-image: url(/site3.2/imagens/porta_aco_industrial1.jpg);
	background-repeat:no-repeat;
	margin-left: 25px;
	
}

.ch-img-2 { 
	background-image: url(/site3.2/imagens/porta_comercial.jpg);
    background-repeat:no-repeat;
    margin-left: 75px;
}

.ch-img-3 { 
	background-image: url(/site3.2/imagens/porta_residencial.jpg);
    background-repeat:no-repeat;
	margin-left: 125px;
	}

.ch-info {
	position: absolute;
	background: rgba(030,144,255, 0.7); /* 255, 0, 0,*/
	width: inherit;
	height: inherit;
	border-radius: 10%;
	opacity: 0;
	text-align:center;			 

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	
	-webkit-backface-visibility: hidden;
	
transform: rotate(45deg);  
}
/**/
.ch-info h3 {
	text-align:justify;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	margin: 0 15px;
	padding: 45px 0 0 0;
	height: 140px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
						

}
/** porta resid,cpmer,indus*/
.ch-info p {
	
	color: #fff;
	padding: 0px 5px;
	font-style: italic;
	margin: 0 15 0 0px;
	font-size: 16px;
	border-bottom-style:  1px solid rgba(255,255,255,0.5);
	opacity: 0;
	-webkit-transition: all 1s ease-in-out 0.4s;
	-moz-transition: all 1s ease-in-out 0.4s;
	-o-transition: all 1s ease-in-out 0.4s;
	-ms-transition: all 1s ease-in-out 0.4s;
	transition: all 1s ease-in-out 0.4s;
	text-align: center;						

}
/* +informacoes**/
.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 1px;
	padding-top: 4px;
	margin-left:-25px;
	font-family: 'Open Sans', Arial, sans-serif;

}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
	
}

.ch-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 10px 2px rgba(0,0,0,0.1);
		
		
}
.ch-item:hover .ch-info {
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-o-transform: scale(0.6);
	-ms-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 1;
	
	
}

.ch-item:hover .ch-info p {
	opacity: 1;
	
	
}
@media only screen and (max-width:640px){
.ch-item {
	width: 50%;
	height: 50%;
	border-radius: 8%;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 100px rgba(20, 0, 0, 0.3), /*030,144,255,*/
		0 1px 2px rgba(0,0,0,0.1);
			transform: rotate(0deg);  

	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
	transition: all 0.4s ease-in-out 0.2s;
	
}

.ch-img-1 { 
	background-image: url(/site3.2/imagens/porta_aco_industrial1.jpg);
	background-repeat:no-repeat;
	margin-left: 0px;
	
}